<footer>
  <h2>&copy; 2023 Brewski Buddy</h2>
  <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/beers">browse & learn</a></li>
          <li><a href="/beers/new">Add a Brewski</a></li>
          <li><a href="/reviews">Reviews</a></li>
          <!-- <li><a href="/reviews">leave a review</a></li> -->
      </ul>
  </nav>
</footer>