<footer class="bg-yellow-400 py-2">
  <div class="container mx-auto px-4">
    <div class="flex justify-center">
      <div>
        <h4 class="text-yellow-700 text-lg text-center">&copy; 2023 Brewski Buddy</h4>
      </div>
    </div>
  </div>
</footer>
