<footer>
  <h2>&copy; 2023 Brewski Buddy</h2>
  <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/products">Browse</a></li>
          <li><a href="/new">Add a beer</a></li>
          <li><a href="/reviews">leave a review</a></li>
      </ul>
  </nav>
</footer>