<footer>
  <h2>&copy; 2023 Rad Retro Action Figures</h2>
  <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/products">Shop</a></li>
          <li><a href="/new">Add a Listing</a></li>
          <li><a href="/reviews">leave a review</a></li>
      </ul>
  </nav>
</footer>