<header>
  <h1>Brewski Buddy</h1>
  <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/beers">browse & learn</a></li>
          <li><a href="/reviews">Add A Brewski</a></li>
      </ul>
  </nav>
</header>