<header>
  <nav class="font-sans bg-yellow-400 py-2">
    <div class="container mx-auto px-4 flex justify-between items-center">
      <h2 class="text-yellow-700 text-3xl font-semibold italic">Brewski Buddy</h2>
      
<!-- Burger Menu Icon -->
        <button id="burger-btn" class="md:hidden focus:outline-none">
          <svg class="w-6 h-6 text-yellow-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>

<!-- Navbar Links -->
      <div class="hidden md:flex space-x-4">
        <a href="/" class="text-yellow-700 hover:text-gray-100">Home</a>
        <a href="/about" class="text-yellow-700 hover:text-gray-100">About</a>
        <a href="/beers" class="text-yellow-700 hover:text-gray-100">Learn about a Brewski</a>
        <!--<a href="/beers/new" class="text-yellow-700 hover:text-gray-100">Add A Brewski</a>-->
        <!--<a href="/reviews" class="text-yellow-700 hover:text-gray-100">Reviews</a>-->
      </div>
    </div>
  </nav>
      <!-- Mobile Menu (Hidden by Default) -->
    <div id="mobile-menu" class="md:hidden bg-yellow-600 p-4 hidden">
      <div class="flex flex-col h-full justify-center items-center">
        <a href="/" class="text-2xl text-yellow-300 hover:text-gray-100">Home</a>
        <a href="/about" class="text-2xl text-yellow-300 hover:text-gray-100">About</a>
        <a href="/beers" class="text-2xl text-yellow-300 hover:text-gray-100">Learn about a Brewski</a>
        <!--<a href="/beers/new" class="text-yellow-700 hover:text-gray-100">Add A Brewski</a>-->
        <!--<a href="/reviews" class="text-yellow-700 hover:text-gray-100">Reviews</a>-->
      </div>
    </div>
</header>

<!-- JavaScript for mobile menu -->
<script>
  const burgerBtn = document.getElementById('burger-btn');
  const mobileMenu = document.getElementById('mobile-menu');

  burgerBtn.addEventListener('click', () => {
    mobileMenu.classList.toggle('hidden');
  });
</script>
