<header>
  <nav class="font-sans bg-yellow-400 py-2">
    <div class="container mx-auto px-4 flex justify-between items-center">
      <h2 class="text-yellow-700 text-3xl font-semibold italic">Brewski Buddy</h2>
      
      <ul class="flex space-x-4">
        <li><a href="/" class="text-yellow-700 hover:text-gray-100">Home</a></li>
        <li><a href="/about" class="text-yellow-700 hover:text-gray-100">About</a></li>
        <li><a href="/beers" class="text-yellow-700 hover:text-gray-100">Learn about a Brewski</a></li>
        <!-- <li><a href="/beers/new" class="text-yellow-700 hover:text-gray-100">Add A Brewski</a></li> -->
        <!-- <li><a href="/reviews" class="text-yellow-700 hover:text-gray-100">Reviews</a></li> -->
      </ul>
    </div>
  </nav>
  
</header>