<header>
  <h1>Rad Retro Action Figures</h1>
  <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/products">Shop</a></li>
          <li><a href="/reviews">Leave A Review</a></li>
      </ul>
  </nav>
</header>