<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Brewski Buddy'}) %>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/home.css">
</head>

    <body class="flex flex-col min-h-screen">
        <%- include('./partials/nav.ejs') %>

        <section class="hero">
            <h2 class="text-4xl font-bold mb-2">Welcome to Brewski Buddy</h2>
            <h4 class="text-xl">Get ready to be Hop-sessed!</h4>
        </section>

        <main class="flex-grow">
            <section class="py-24">
                <div class="container mx-auto px-8">
                    <h2 class="text-3xl text-center font-bold mb-4">PLEASE DRINK RESPONSIBLY ❤️</h2>
                    <p class="text-center text-gray-700 mb-6">The consumption of alcohol can impair your judgment and abilities. It is important to know your limits and avoid excessive consumption. This app is intended for users who are of legal drinking age. The app does not encourage the misuse or abuse of alcohol, and we are not responsible for any negative consequences that may result from the use of this app. If you think or feel like you have a problem with drinking, please reach out to someone.</p>
                    <a href="/beers" class="btn bg-yellow-800 hover:bg-gray-600 text-white font-semibold py-2 px-4 border border-gray-400 rounded shadow">Take a look around!</a>
                </div>
            </section>
        </main>

        <%- include('./partials/footer.ejs') %>
    </body>

</html>
