<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Add a Listing | Brewski Buddy'}) %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"     integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" href="/styles/beer-form.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <section class="hero">
        <h2>Create a Listing</h2>
        <h4><i>Did we miss one?  Help us out, add it!</i></h4>
    </section>

    <form method="POST" action="/beers">
        <!-- type input -->
        <label for="type">Type:</label>
        <input type="text" id="type" name="type" required>
        <br>
        <!-- alcoholByVolume input -->
        <label for="alcoholByVolume">Alcohol By Volume (ABV):</label>
        <input type="text" id="alcoholByVolume" name="alcoholByVolume" required>
        <br>
        <!-- Photo input -->
        <label for="photo">Photo (URL):</label>
        <input type="text" id="photo" name="photo" required>
        <br>
        <!-- discription input -->
        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea>
        <br>
        <!-- rating input -->
        <label for="rating">rating:</label>
        <select id="rating" name="rating">
            <optgroup label=" ratings">
                <option value="0.5">0.5</option>
                <option value="1.0">1.0</option>
                <option value="1.5">1.5</option>
                <option value="2.0">2.0</option>
                <option value="2.5">2.5</option>
                <option value="3.0">3.0</option>
                <option value="3.5">3.5</option>
                <option value="4.0">4.0</option>
                <option value="4.5">4.5</option>
                <option value="5.0">5.0</option>
            </optgroup>
        </select>
        <br>
        <!-- variations input -->
        <label for="variations">Variations:</label>
        <input type="text" id="variations" name="variations" value="Unknown">
        <br>
        <!-- foodPairing input -->
        <label for="foodPairing">Food Pairing:</label>
        <input type="text" id="foodPairing" name="foodPairing" value="Unknown">
        
        <input type="submit" value="Create beer">
    </form>

    <%- include('./partials/footer.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>

</html>