<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Add a Listing | Brewski Buddy'}) %>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/beer-form.css">
</head>

    <body>
    <%- include('./partials/nav.ejs') %>

    <section class="hero">
        <h2 class="text-4xl font-bold mb-2">Create a Listing</h2>
        <h3 class="text-xl"><i>Did we miss one? Help us out, add it!</i></h3>
    </section>

    <form method="POST" action="/beers" class="py-8">
        <label for="type">Type:</label>
        <input type="text" id="type" name="type" required>
        <label for="alcoholByVolume">Alcohol By Volume (ABV):</label>
        <input type="text" id="alcoholByVolume" name="alcoholByVolume" required>
        <label for="photo">Photo (URL):</label>
        <input type="text" id="photo" name="photo" required>
        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea>
        <label for="rating">Rating:</label>
        <select id="rating" name="rating">
            <optgroup label="Ratings">
                <option value="0.5">0.5</option>
                <option value="1.0">1.0</option>
                <option value="1.5">1.5</option>
                <option value="2.0">2.0</option>
                <option value="2.5">2.5</option>
                <option value="3.0">3.0</option>
                <option value="3.5">3.5</option>
                <option value="4.0">4.0</option>
                <option value="4.5">4.5</option>
                <option value="5.0">5.0</option>
            </optgroup>
        </select>
        
        <label for="variations">Variations:</label>
        <input type="text" id="variations" name="variations" value="Unknown">

        <label for="foodPairing">Food Pairing:</label>
        <input type="text" id="foodPairing" name="foodPairing" value="Unknown">

        <input type="submit" value="Create beer" class="mt-4">
    </form>

    <%- include('./partials/footer.ejs') %>
    </body>

</html>
