@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/* Reset styles for cross-browser consistency */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: #000000;
  scrollbar-width: 10px;
}

*::-webkit-scrollbar {
  visibility: hidden;
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 2px;
}

/* General styles */
body {
  background: linear-gradient(to top, #faf4dd, #857e56); /*linear-gradient help from classmate and youtube */
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  min-height: 100vh;
}

a {
  font-family: 'Indie Flower', cursive,serif;
  color: #f1f1ea;
  text-decoration: none;
}

a:hover {
  color: #ece92d;
}

/* Header styles */
header {
  font-family: 'Indie Flower', cursive,serif;
  color: #faf4dd;
  text-shadow: .5px .5px .5px #68665f;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #464233;
  padding: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h1 a:hover {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
}

nav li:not(:last-child) {
  margin-right: 1rem;
}

nav a {
  font-size: 1.2rem;
}


div {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #464233;
  border-radius: 50px;
  padding: 20px;
  margin: 4vh auto;
  background-color: rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 150px;
  width: 60%;
  min-width: 300px;
  height: 30%;
  min-height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.beer-name {
  font-size: 32px;
  margin-bottom: 10px;
}

section {
  text-align: left;
  margin: 0 20%;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
}

.featured {
  background-color: #ffd700;
}

/* Style Action Buttons */
.actions {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color: #464233;
  border-radius: 30px;
  color: #f7ede2;
  font-weight: bold;
  padding: 15px 30px;
  text-decoration: none;
}

.btn:hover {
  background-color: #a39873;
  color: #534f36;
  text-decoration: none;
}

/* Footer styles */
footer {
  font-family: 'Indie Flower', cursive,serif;
  color: #f1f1ea;
  display: flex; 
  flex-direction: column;
  text-align: center;
  background-color: #464233;
  padding: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

footer nav {
  display: flex;
  justify-content: center;  
}
