/* Main content styles */
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.listings {
  margin-top: 50px;
}

.listings h1 {
  margin-bottom: 20px;
  text-align: center;
}

.listings ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin-top: 2rem;
  list-style: none;
  padding: 0;
}

.listings li {
  background-color: rgba(0, 0, 0, 0.2);
  width: calc(33% - 1rem);
  min-width: 300px;
  margin-bottom: 2rem;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid #464233;
  padding: 20px;
  border-radius: 4px;
  position: relative;
  text-align: center;
}

.listings li img {
  width: 80%;
  height: 80%;
  border-radius: 150px;
  object-fit: scale-down;
}

figcaption {
  text-align: left;
}

.listings li h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.listings li p {
  font-size: 16px;
  margin-bottom: 10px;
}

.listings li a {
  background-color: #464233;
  border-radius: 30px;
  color: #f7ede2;
  font-weight: bold;
  padding: 15px 30px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
}

.listings li a:hover {
  background-color: #a39873;
  color: #534f36;
  text-decoration: none;;
}