.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://c4.wallpaperflare.com/wallpaper/97/512/27/a-glass-of-beer-wallpaper-preview.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 8rem 0;
}

img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.listings {
  background-color: #f9f9f9;
}

.beer-card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.432);
  transition: transform 0.3s ease;
}

.beer-card:hover {
  transform: translateY(-0.25rem);
}