.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://c4.wallpaperflare.com/wallpaper/97/512/27/a-glass-of-beer-wallpaper-preview.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 8rem 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}