/* Reset styles for cross-browser consistency */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: #000000;
  scrollbar-width: 10px;
}

*::-webkit-scrollbar {
  visibility: hidden;
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 2px;
}

/* //General styles */
body {
  background: linear-gradient(to top, #faf4dd, #857e56);
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  min-height: 100vh;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* // Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #887646d0;
  padding: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5rem;
}

h1 a:hover {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
}

nav li:not(:last-child) {
  margin-right: 1rem;
}

nav a {
  font-size: 1.2rem;
}

/* Hero section styles */
.hero {
  /* background-color: #d7ccc8; */
  color: #1f1f1e;
  padding: 80px;
  text-align: center;
}

.hero h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.hero h3 {
  font-size: 2rem;
  text-align: center;
}

.hero h4 {
  font-size: 1.5rem;
  text-align: center;
}

/* Content section */
.content {
  /* background-color: #e0cfc2; */
  color: #1f1f1e;
  padding: 80px;
  text-align: center;
}

p {
  margin-bottom: 1rem;
}

.btn {
  background-color: #a39873;
  border-radius: 30px;
  color: #f7ede2;
  font-weight: bold;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: #dbd6b5;
  color: #7c574f;
}

/* Footer styles */
footer {
  /* display: flex;
  justify-content: space-between; */
  text-align: center;
  background-color: #494842d0;
  padding: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

footer ul {
  /* justify-content: center; */
  text-align: center;
}
