@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/* Reset styles for cross-browser consistency */

/* Scrollbar styles */
*::-webkit-scrollbar {
  visibility: hidden;
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 2px;
}

* {
background-color: rgb(145, 112, 72);
}  

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://c4.wallpaperflare.com/wallpaper/97/512/27/a-glass-of-beer-wallpaper-preview.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 8rem 0;
}