/* Reset styles for cross-browser consistency */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: #000000;
  scrollbar-width: 10px;
}

*::-webkit-scrollbar {
  visibility: hidden;
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 2px;
}

/* General styles */
body {
  background: linear-gradient(to top, #faf4dd, #857e56); /*linear-gradient help from classmate and youtube */
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  min-height: 100vh;
}

a {
  font-family: 'Indie Flower', cursive,serif;
  color: #f1f1ea;
  text-decoration: none;
}

a:hover {
  color: #ece92d;
}

/* Header styles */
header {
  font-family: 'Indie Flower', cursive,serif;
  color: #faf4dd;
  text-shadow: .5px .5px .5px #68665f;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #464233;
  padding: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h1 a:hover {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
}

nav li:not(:last-child) {
  margin-right: 1rem;
}

nav a {
  font-size: 1.2rem;
}

.listings {
  margin-top: 50px;
}

.listings ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin-top: 2rem;
  list-style: none;
  padding: 0;
}

.listings li {
  background-color: rgba(0, 0, 0, 0.2);
  width: calc(33% - 1rem);
  min-width: 300px;
  margin-bottom: 2rem;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid #464233;
  padding: 20px;
  border-radius: 4px;
  position: relative;
  text-align: center;
}

.listings li h4 {
  /* font-size: 24px;
  margin-bottom: 10px; */
}

.listings li a {
  background-color: #464233;
  border-radius: 20px;
  color: #f7ede2;
  font-weight: bold;
  padding: 15px 30px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.listings li a:hover {
  background-color: #a39873;
  color: #534f36;
  text-decoration: none;
}