@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/* Reset styles for cross-browser consistency */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: #000000;
  scrollbar-width: 10px;
}

*::-webkit-scrollbar {
  visibility: hidden;
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 2px;
}
/* General styles */
body {
  background: linear-gradient(to top, #faf4dd, #857e56); /*linear-gradient help from classmate and youtube */
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  min-height: 100vh;
}

a {
  font-family: 'Indie Flower', cursive,serif;
  color: #f1f1ea;
  text-decoration: none;
}

a:hover {
  color: #ece92d;
}

/* Header styles */
header {
  font-family: 'Indie Flower', cursive,serif;
  color: #f7f5f1;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #464233;
  padding: 1rem;
}

h1 {
  font-size: 2.5rem;
  text-shadow: .5px .5px .5px #000000;
}

h1 a:hover {
  text-decoration: none;
}

.container-fluid {
  background-color: #464233;
  color: #faf4dd;
}

.nav-link {
  color: #faf4dd;
  text-shadow: .5px .5px .5px #000000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
}

nav li:not(:last-child) {
  margin-right: 1rem;
}

nav a {
  font-size: 1.2rem;
}

.review {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #464233;
  border-radius: 50px;
  padding: 20px;
  margin: 4vh auto;
  background-color: rgba(0, 0, 0, 0.2);
}

.review h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.review h2 {
  font-size: calc(10px + 1vw);
}

table {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

th {
  width: 45%;
  text-align: left;
  padding-left: 10%;
}

td {
  padding-left: 1rem;
  padding-right: 1.5rem;
}

td h2 {
  font-weight: 100;
}

form {
  width: 40%;
  min-width: 300px;
  margin: 0 auto 2rem auto;
}

input[type="submit"] {
  background-color: #bd1212;
}

input[type="submit"]:hover {
  background-color: #ffffff;
  color: #bd1212;
  text-decoration: none;
}

/* Footer styles */
footer {
  font-family: 'Indie Flower', cursive,serif;
  color: #f1f1ea;
  display: flex; 
  flex-direction: column;
  text-align: center;
  background-color: #464233;
  padding: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

footer nav {
  display: flex;
  justify-content: center;  
}